html {
  font-family: Europa;
  font-weight: 800; }

body {
  color: #fff;
  margin: 0; }

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  #menuToggle #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -3px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu li {
    padding: 10px 0;
    font-size: 22px; }
  #menu input:checked ~ ul {
    transform: none; }
  #menu a {
    text-decoration: none; }

section {
  width: 100%; }
  section#landing {
    height: 80vh;
    background: #477cd4;
    margin: 0;
    position: relative; }
    section#landing div.container div.row div.columns {
      padding-top: 1%;
      position: absolute;
      margin: auto;
      top: 35vh;
      left: 0; }
      section#landing div.container div.row div.columns h1 {
        margin-bottom: 3px;
        font-weight: 300; }
        section#landing div.container div.row div.columns h1 span {
          letter-spacing: 0.5px; }
      section#landing div.container div.row div.columns p {
        font-size: 120%;
        margin-top: 0; }
  section#problem {
    height: auto;
    padding: 5% 0;
    display: table; }
    section#problem div.container h2 {
      color: #000;
      font-weight: 600;
      margin-bottom: 5rem; }
    section#problem div.container div.row {
      display: table;
      margin: 0 auto; }
      section#problem div.container div.row div.columns {
        margin-right: 0;
        display: table-cell;
        vertical-align: middle; }
        section#problem div.container div.row div.columns iframe {
          height: 80vh; }
        section#problem div.container div.row div.columns div.box {
          padding: 20px;
          height: 200px !important; }
          section#problem div.container div.row div.columns div.box div.content {
            margin-top: 5%;
            right: 0;
            bottom: 0;
            left: 0; }
            section#problem div.container div.row div.columns div.box div.content h2 {
              font-weight: 400; }
            section#problem div.container div.row div.columns div.box div.content h1 {
              font-weight: 400; }
        section#problem div.container div.row div.columns div.solution {
          background: #f4f4f4;
          color: #222; }
  section#members {
    height: auto;
    padding: 5% 0;
    display: table; }
    section#members div.container div.row {
      display: table;
      margin: 0 auto; }
      section#members div.container div.row h2 {
        color: #000;
        font-weight: 600; }
      section#members div.container div.row div.columns {
        margin-right: 0;
        display: table-cell;
        vertical-align: middle; }
        section#members div.container div.row div.columns ul.members {
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 6rem; }
          section#members div.container div.row div.columns ul.members li {
            width: 20vw;
            text-align: center; }
            section#members div.container div.row div.columns ul.members li img {
              width: 100%;
              border-radius: 50%;
              transform: scale(0.8);
              transition: all 0.2s ease-in-out; }
            section#members div.container div.row div.columns ul.members li h4 {
              margin-bottom: 0;
              color: #424242;
              font-weight: 400; }
            section#members div.container div.row div.columns ul.members li p {
              color: #424242; }

footer {
  font-size: 1.2rem;
  padding: 2rem 0;
  line-height: 2rem;
  background: #2a57a2;
  color: #f7f7f7;
  text-align: center; }

#graph {
  height: 300px;
  width: 55%;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
