html {
	font-family: Europa;
	font-weight: 800;
}

body {
	color: #fff;
	margin: 0;
}

#menuToggle
{
	display: block;
	position: absolute;
	top: 50px;
	left: 50px;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;

 	input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */

		-webkit-touch-callout: none;
	}

	span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
	}

	span:first-child {
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

	input:checked ~ span {
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	input:checked ~ span:nth-last-child(2)
	{
		transform: rotate(-45deg) translate(0, -3px);
	}
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

 	li {
		padding: 10px 0;
		font-size: 22px;
	}

	input:checked ~ ul {
		transform: none;
	}

	a {
		text-decoration: none;
	}
}

section {

	width: 100%;

	&#landing {

		height: 80vh;
		background: #477cd4;
		margin: 0;
		position: relative;

		div.container {

			div.row {

				div.columns {
					
					padding-top: 1%;
				    position: absolute;
					margin: auto;
					top: 35vh;
					left: 0;

					h1 {

						margin-bottom: 3px;
						font-weight: 300;

						span {
							letter-spacing: 0.5px;
						}

					}

					p {
						font-size: 120%;
						margin-top: 0;
					}
				}
			}
		}
	}


	&#problem {

		height: auto;
		padding: 5% 0;
		display: table;

		div.container {

			h2 {
				color: #000;
				font-weight: 600;
				margin-bottom: 5rem;
			}

			div.row {
				
				display: table;
				margin: 0 auto;

				div.columns {

					margin-right: 0;
					display: table-cell;
					vertical-align: middle;

					iframe {
						height: 80vh;
					}


					div.box {

						padding: 20px;
						height: 200px !important;

						div.content {

							margin-top: 5%;
							right: 0;
							bottom: 0;
							left: 0;

							h2 {
								font-weight: 400;
							}

							h1 {
								font-weight: 400;
							}

						}

					}

					div.solution {
						background: #f4f4f4;
						color: #222;
					}
				}
			}
		}
	}

	&#members {
		height: auto;
		padding: 5% 0;
		display: table;

		div.container {

			div.row {
				
				display: table;
				margin: 0 auto;

				h2 {
					color: #000;
					font-weight: 600;
				}

				div.columns {

					margin-right: 0;
					display: table-cell;
					vertical-align: middle;

					ul.members {
						padding: 0;
					    list-style: none;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    margin-bottom: 6rem;

					    li {
					    	width: 20vw;
					    	text-align: center;

							img {
					    		width: 100%;
							    border-radius: 50%;
							    transform: scale(0.8);
							    transition: all 0.2s ease-in-out;
					    	}

					    	h4 {
					    		margin-bottom: 0;
					    		color: #424242;
					    		font-weight: 400;
					    	}

					    	p {
					    		color: #424242;
					    	}
					    }
					}

				}
			}
		}
	}

}

footer {
	font-size: 1.2rem;
    padding: 2rem 0;
    line-height: 2rem;
    background: #2a57a2;
    color: #f7f7f7;
    text-align: center;
}

#graph{
	height: 300px; 
	width: 55%;
	align-content: center;
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}