html {
	font-family: Europa;
	font-weight: 800;
}

body {
	color: #fff;
	margin: 0;
}

section {

	width: 100%;

	&#landing {

		height: 80vh;
		background: #477cd4;
		margin: 0;
		position: relative;

		div.container {

			div.row {

				div.columns {
					
					padding-top: 1%;
				    position: absolute;
					margin: auto;
					top: 35vh;
					left: 0;

					h1 {

						margin-bottom: 3px;
						font-weight: 300;

						span {
							letter-spacing: 0.5px;
						}

					}

					p {
						font-size: 120%;
						margin-top: 0;
					}
				}
			}
		}
	}


	&#problem {

		height: auto;
		padding: 5% 0;
		display: table;

		div.container {

			h2 {
				color: #000;
				font-weight: 600;
				margin-bottom: 5rem;
			}

			div.row {
				
				display: table;
				margin: 0 auto;

				div.columns {

					margin-right: 0;
					display: table-cell;
					vertical-align: middle;

					iframe {
						height: 80vh;
					}


					div.box {

						padding: 20px;
						height: 200px !important;

						div.content {

							margin-top: 5%;
							right: 0;
							bottom: 0;
							left: 0;

							h2 {
								font-weight: 400;
							}

							h1 {
								font-weight: 400;
							}

						}

					}

					div.solution {
						background: #f4f4f4;
						color: #222;
					}
				}
			}
		}
	}

	&#members {
		height: auto;
		padding: 5% 0;
		display: table;

		div.container {

			div.row {
				
				display: table;
				margin: 0 auto;

				h2 {
					color: #000;
					font-weight: 600;
				}

				div.columns {

					margin-right: 0;
					display: table-cell;
					vertical-align: middle;

					ul.members {
						padding: 0;
					    list-style: none;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    margin-bottom: 6rem;

					    li {
					    	width: 20vw;
					    	text-align: center;

							img {
					    		width: 100%;
							    border-radius: 50%;
							    transform: scale(0.8);
							    transition: all 0.2s ease-in-out;
					    	}

					    	h4 {
					    		margin-bottom: 0;
					    		color: #424242;
					    		font-weight: 400;
					    	}

					    	p {
					    		color: #424242;
					    	}
					    }
					}

				}
			}
		}
	}

}

footer {
	font-size: 1.2rem;
    padding: 2rem 0;
    line-height: 2rem;
    background: #2a57a2;
    color: #f7f7f7;
    text-align: center;
}

#graph{
	height: 300px; 
	width: 55%;
	align-content: center;
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}